.card{
    min-width: 280px;
    max-width: 400px;
    margin: auto;
    height: 100%;
}

.card-title{
    font-weight: bold;
}

.botao{
    display: flex;
    margin: auto;
    margin-bottom: 15px;

}

.github{
    height: 30px;
    margin-left:20px
}

@media (max-width: 500px){
    .card{
        min-width: 230px;
    }
}